---

name: Integration-Tests Execution

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    env:
      CI_JOB: 'ansible-test-molecule-${{ github.event.repository.name }}'
      CI_DOMAIN: 'ci.ansibleguy.net'

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Install dependencies
        run: sudo apt install curl
        shell: bash

      - name: Starting Tests
        run: curl --fail-with-body -XPOST https://${{ env.CI_DOMAIN }}/api/job/${{ env.CI_JOB }}?token=${{ secrets.CI_TOKEN_RW }}
        shell: bash

      - name: You can pull the current logs at this URL
        run: >
          echo "You can pull the current logs at this URL:"
          echo " > https://${{ env.CI_DOMAIN }}/api/job/${{ env.CI_JOB }}/tail?token=${CI_TOKEN_RO}"
        env:
          CI_TOKEN_RO: "2b7bba30-9a37-4b57-be8a-99e23016ce70"
